.butt {
  margin: 5rem 0 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  width: auto;
  font-weight: 900;
}

button {
  flex: 0.5 1;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 40rem;
  height: 30rem;
  font-weight: bold;
  font-size: 2.7rem;
  border-radius: 1.3rem;
  text-transform: uppercase;
}

.start {
  background-color: #ece6ff;
  color: black;
}

.wait {
  background-color: #ff6961;
  color: #ffd1dc;
}

.click {
  background-color:	#77dd77;
  color: #e8f4ea
}

.result {
  background-color: #ece6ff;
  color: black;
}

p {
  background-color: #ece6ff;
  color: black;
}