.button_component {
  margin: 9vh 0 9vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  font-weight: 900;
}

.start,
.result,
button p{
  background-color: #ece6ff;
  color: black;
}

.wait {
  background-color: #ff6961;
  color: #ffd1dc;
}

.click {
  background-color:	#77dd77;
  color: #e8f4ea
}

.button_component button {
  flex: 0.5 1;
  box-sizing: none;
  width: 40rem;
  height: 30rem;
  font-weight: bold;
  font-size: 2.7rem;
  border-radius: 1.3rem;
  text-transform: uppercase;
}