.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  bottom: 0;
  margin-bottom: 1rem;
  border-top: solid 0.1rem rgb(41, 41, 41);
  background-color: #030303;
}

.footer img {
  opacity: 0.2;
  width: 2.2em;
  height: 2.1em;
  margin: 0.8rem 0.8rem 1.2rem 0.8rem;
}

.copyrights {
  background-color: black;
  color: white;
  opacity: 0.2;
}