.page {
  margin: 9vh 0 9vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
  width: 100%;
  font-weight: 900;
}

.app_header {
  display: flex;
  justify-content: center;
  margin: 3rem;
  margin-bottom: 0;
  padding-bottom: 3rem;
  width: auto;
  height: auto;
  color: white;
  border-bottom: solid 0.1rem rgb(41, 41, 41);;
}

.page p {
  font-size: 1.7rem;
}

.page button {
  margin: 9vh 0 5vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-weight: 900;
  box-sizing: none;
  width: 40rem;
  height: 20rem;
  font-weight: bold;
  font-size: 2.7rem;
  border-radius: 1.3rem;
  text-transform: uppercase;
  background-color: #ece6ff;
  color: black;
}